extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}



  // 	<nav id="sidebar">
			// 		<div className="sidebar-header">
			// 			<h4></h4>
			// 		</div>
			// 		<div className="sidebar-content">
		 //    		  <ul className="list-unstyled components">
   //  		            {this.state.items.map(item => (
   //  		  	          <li key={item._id}>
   //                          <a href="javascript:void(0);" onClick={() => this._loadContentPane(item)}>
   //                            {item.firstname} {item.lastname}
   //                          </a>
   //                        </li>
   //  		            ))}
   //  		          </ul>
			// 		</div>
			// 		<ul className="list-unstyled CTAs">
			// 			<li><a className="download" href="#">Thông tin</a></li>
			// 		</ul>
			// 	</nav>
			// 	<div id="content">
			// 		<nav className="nav navbar-default">
			// 		  <div className="container-fuild">
			// 		    <div className="navbar-header">
			// 		    	<button type="button" id="sidebarCollapse" className="navbar-btn">
   //                            <span></span>
   //                            <span></span>
   //                            <span></span>
			// 		    	</button>
			// 		    </div>
			// 		    <div className="collapse navbar-collapse" id="caller-manager">
			// 		    	<ul className="nav navbar-nav navbar-right">
			// 	                <li>
			// 	                  <a onClick={(isCaller) => this._call(true)} href="javascript:void(0);">Gọi audio</a>
			// 	                </li>
			// 	                <li>
			// 	                  <a href="javascript:void(0);">Chat video</a>
			// 	                </li>
			// 	             </ul>
			// 		    </div>
			// 		  </div>
			// 		</nav>
			// 		<div id="sidebar-content-pane">
			// 			{this.state.current_user._id}
			// 			<div className="form-group container" id="chat-form">
			// 			  <div className="row">
			// 			    <div className="col-md-10">
			// 			      <input type="text" className="form-control"/>
			// 			    </div>
			// 			  </div>
			// 			</div>
			// 		</div>
			// 	</div>
			// 	<div id="modal">
			//       <CallManager callstate={this.state.callstate} cancel={this._endCall} acept={this._receviceCall}/>
			// 	</div>





 <li className="left clearfix">
                     <span className="chat-img1 pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" className="img-circle"/>
                     </span>
                     <div className="chat-body1 clearfix">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
						<div className="chat_time pull-right">09:40PM</div>
                     </div>
                  </li>
				   <li className="left clearfix">
                     <span className="chat-img1 pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" className="img-circle"/>
                     </span>
                     <div className="chat-body1 clearfix">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
						<div className="chat_time pull-right">09:40PM</div>
                     </div>
                  </li>
                     <li className="left clearfix">
                     <span className="chat-img1 pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" className="img-circle"/>
                     </span>
                     <div className="chat-body1 clearfix">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
    					<div className="chat_time pull-right">09:40PM</div>
                     </div>
                  </li>
				  <li className="left clearfix admin_chat">
                     <span className="chat-img1 pull-right">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" className="img-circle"/>
                     </span>
                     <div className="chat-body1 clearfix">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
						<div className="chat_time pull-left">09:40PM</div>
                     </div>
                  </li>
                  <li className="left clearfix admin_chat">
                     <span className="chat-img1 pull-right">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" className="img-circle"/>
                     </span>
                     <div className="chat-body1 clearfix">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
    					<div className="chat_time pull-left">09:40PM</div>
                     </div>
                  </li>