extends layout

block content
  
  input(type="hidden", id="user-data", value=user)
  div(id="main")
    
  script(src="/javascripts/app.js")
  script.
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
      });
    });
