body {
  /*padding: 20px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#bg-carousel {
	/*height: 600px;*/
}

a {
  /*color: #00B7FF;*/
}

.footer {
	background-color: black;
	/*height: 200px;*/
}

.calling-window {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close-btn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.calling-window-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close-btn:hover, .close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}